asgiref==3.11.0
Django==5.2.8
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.1
dotenv==0.9.9
drf-yasg==1.21.11
graphviz==0.21
inflection==0.5.1
Markdown==3.10
numpy==2.3.3
packaging==25.0
pandas==2.3.3
pillow==12.0.0
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.2.0
